.nav {
  margin-bottom: 25px;
}

.nav a {
  border-radius: 4px;
  padding: 6px 10px;
  margin-right: 10px;
  text-decoration: none;
}

.nav a.active {
  color: #fff;
  background: #1310c0;
}
.nav a.inactive {
  font-style: italic;
}